<center>
<h1>The Battlefield
<br>
<%= @game.player1.name %> vs. <%= @game.player2.name %>
</h1>
<h2>
<%= @game.current_player.name%>'s turn
</h2>
<font size = 3>
<%= "#{@game.opponent.name}'s hit points: #{@game.opponent.hp} " %>
<%= " #{@game.current_player.name}'s hit points: #{@game.current_player.hp}" %>
</font>
</center>
<form action="/attack">

Attacks: <br>

<button name="choice"type="submit" value="knifed">Attack <%=@game.opponent.name%> with a knife</button>
<button name="choice"type="submit" value="shot">Attack <%=@game.opponent.name%> with a gun</button>
<button name="choice"type="submit" value="bombed">Attack <%=@game.opponent.name%> with an airstrike</button>
<button name="choice"type="submit" value="paralyzed">Paralyze <%=@game.opponent.name%></button>
</form>

<form action="/healed">

Potients: <br>

<button name="choice"type="submit" value="healed">Heal potient</button>
</form>
